<!--

    File: market.ejs
    Name: Thomas van der Molen
    This file contains the HTML that is shown to an investor when they visit the market page

-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Awesome Assets</title>
    <!--https://www.w3schools.com/howto/howto_css_dropdown.asp-->
    <style>
        h1, h2{
            text-align: center;
        }
        .topnav{
            background-color:darkslategray;
        }
        .topnav a{
            font-size: 40px;
            color:azure;
            text-align: center;
            text-decoration: none;
            padding: 14px 16px;
        }
        table{
            width: 50%;
            border-collapse: collapse;
            margin: auto;
        }
        table, th, td{
            border: 1px solid;
            font-size: 25px;
            text-align: center;
        }
        .ExchangeFilters{
            margin: auto;
            text-align: center;
        }
        form{
            text-align: center;
        }
    </style>
</head>
<body>

    <div class = "topnav">
        <a href="/">Logout</a>
        <a href="/deleteAccount">Delete Account</a>
        <a href="/market">Market</a>
        <a href="/account">Profile</a>
    </div>
    
    <h1>Market</h1>

    
    <br>


    <h2>Search for an asset</h2>
    <form id="searchForAsset" action="/searchAsset" method="post">
        <input type="text" name="searchValue">
        <input type="submit" value="search">
    </form>
    

    <% if(locals.listings){ %>
    <h1>Make a trade</h1>
    <form id="trade" action="/trade" method="post">
        <label for = "asset">Asset</label>
        <select name = "asset">
            <% locals.listings.forEach(function(listing) {%>
                <option value = <%=listing.asset%>> <%=listing.asset%> </option>
                <% }) %>
            </select>
            
        <label for = "quantity">quantity</label>
        <input type="number" name = "quantity" value="0">
        
        <select name = "buyOrSell">
            <option value = "buy">buy</option>
            <option value = "sell">sell</option>
        </select>
        
        <input type="submit" value="place order">
    </form>
    <% } %>
    
    <!--Stocks-->
    <% if(locals.stocks.length != 0){ %>
    <h2>Stocks</h2>
    <table>
        <tr>
            <th>Symbol</th>
            <th>Price</th>
            <th>Dividend</th>
            <th>Market Cap</th>
            <th>High Price</th>
            <th>Low Price</th>
        </tr>
        <tr>
            <% locals.stocks.forEach(function(stock){ %>
                <tr>
                    <td><%= stock.symbol%></td>
                    <td><%= stock.price%></td>
                    <td><%= stock.dividend%></td>
                    <td><%= stock.market_cap%></td>
                    <td><%= stock.high_price%></td>
                    <td><%= stock.low_price%></td>
                </tr>
            <% }) %>
        </tr>
    </table>
    <% } %>
    <br>

    <!--Cryptos-->
    <% if(locals.cryptos.length != 0){ %>
    <h2>Cryptocurrencies</h2>
    <table>
        <tr>
            <th>Symbol</th>
            <th>Price</th>
            <th>Coin Type</th>
            <th>Market Cap</th>
            <th>High Price</th>
            <th>Low Price</th>
        </tr>
        <tr>
            <% locals.cryptos.forEach(function(crypto){ %>
                <tr>
                    <td><%= crypto.symbol%></td>
                    <td><%= crypto.price%></td>
                    <td><%= crypto.coin_type%></td>
                    <td><%= crypto.market_cap%></td>
                    <td><%= crypto.high_price%></td>
                    <td><%= crypto.low_price%></td>
                </tr>
            <% }) %>
        </tr>
    </table>
    <% } %>
    <br>

    <!--Commodities-->
    <% if(locals.commodities.length != 0){ %>
    <h2>Commodities</h2>
    <table>
        <tr>
            <th>Name</th>
            <th>Price</th>
            <th>Commodity Type</th>
            <th>High Price</th>
            <th>Low Price</th>
        </tr>
        <tr>
            <% locals.commodities.forEach(function(commodity){ %>
                <tr>
                    <td><%= commodity.name%></td>
                    <td><%= commodity.price%></td>
                    <td><%= commodity.commodity_type%></td>
                    <td><%= commodity.high_price%></td>
                    <td><%= commodity.low_price%></td>
                </tr>
            <% }) %>
        </tr>
    </table>
    <% } %>

</body>
</html>